@font-face {
  font-family: 'Makgeolli';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Makgeolli.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Makgeolli' !important;
}

/*폰트*/
.font{
  font-family: 'Makgeolli' !important;
}

/*네비게이션*/
.navigation{
  height: 9vh;
  background: transparent !important;
  box-shadow: none !important;
}

.logo {
  height: 6vh;
  margin-left: 10px;
}

.logoContainer {
  display: flex;
  align-Items: center;
  height: 100%;
}

.logo2{
  font-size: 30px !important;
  margin-left: 20px !important;
  font-weight: bold !important;
}

.logo:hover,
.logo2:hover {
  cursor: pointer;
}

.mypageBtn,
.cocktailsBtn,
.loginBtn,
.membershipBtn{
  font-size: 25px !important;
  margin-right: 10px !important;
}

/*홈 화면*/
.home-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  filter: brightness(50%);
  z-index: -1;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
